@font-face {
    font-family: Colus;
    src: url('../fonts/Colus/WEB/Colus-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Colus/WEB/Colus-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Colus/WEB/Colus-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Colus/WEB/Colus-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Colus/TTF/Colus-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: Esqadero;
    src: url('../fonts/EsqaderoFFCY4F/OT-tt/Esqadero FF CY 4F-Regular.ttf');
}

@font-face {
    font-family: Cherubic;
    src: url('../fonts/CherubicInitials/Cherubic.ttf');
}

@font-face {
    font-family: RobotoMono;
    src: url('../fonts/RobotoMono/RobotoMono-Medium.ttf');
}
