@font-face {
    font-family: Colus;
    src: url('../fonts/Colus/WEB/Colus-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Colus/WEB/Colus-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Colus/WEB/Colus-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Colus/WEB/Colus-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Colus/TTF/Colus-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: Botsmatic;
    src: url('../fonts/Botsmatic/Botsmatic3d-Exl8.ttf');
}

@font-face {
    font-family: RobotoMono;
    src: url('../fonts/RobotoMono/RobotoMono-Medium.ttf');
}

@font-face {
    font-family: Undertale;
    src: url('../fonts/Undertale/undertale-font-lowercase-b.ttf');
}

@font-face {
    font-family: QuinqueFive;
    src: url('../fonts/QuinqueFive/Quinquefive-ALoRM.ttf');
}
