@font-face {
    font-family: Botsmatic;
    src: url('../fonts/Botsmatic/Botsmatic3d-Exl8.ttf');
}

@font-face {
    font-family: RobotoMono;
    src: url('../fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: Undertale;
    src: url('../fonts/Undertale/undertale-font-lowercase-b.ttf');
}

@font-face {
    font-family: QuinqueFive;
    src: url('../fonts/QuinqueFive/Quinquefive-ALoRM.ttf');
}

@font-face {
    font-family: BPdots;
    src: url('../fonts/BPdots/bpdots.squares-bold.otf');
}
