.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.uninteractable {
    pointer-events: none;
}
.hide_scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
}



html {
    scroll-behavior: smooth;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


:root {
    --white-col: #fffedd;
    --reading-text-col: lightgrey;
    --alt-tone-col: red;
}



#foreground_canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
}

#background_canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}



.page_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#page_transition {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
}

.pixel_borders {
    border-radius: 24px;
    border-width: 24px;
    border-style: solid;
    border-image-source: url('../img/sprites/border_image.png');
    border-image-slice: 7; /* Each corner is 7x7 pixels */
    border-image-repeat: stretch; /* Makes sure edges stretch */
    border-image-outset: 1px;
    image-rendering: pixelated;
    box-shadow: -10px 10px 0px 0px rgba(25,25,26,0.5);
    box-sizing: border-box;
    background-origin: border-box;
}



.jumping_text {
    animation-name: jumping_text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}
@keyframes jumping_text {
    0% {
        top: 0;
    }
    50% {
        top: -0.25em;
    }
    100% {
        top: 0;
    }
}

.scaling_text {
    animation-name: scaling_text;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes scaling_text {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.rainbow_text {
    animation-name: rainbow_text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}
@keyframes rainbow_text {
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}



.scrolling_container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    place-items: center;
}
.scrolling_container::-webkit-scrollbar {
    display: none;
}

.center_container {
    width: 75vw;
}
