.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.uninteractable {
    pointer-events: none;
}
.hide_scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
}



body {
    /* min-height: 100dvh;
    min-height: -webkit-fill-available; */
}
html {
    scroll-behavior: smooth;
    /* height: -webkit-fill-available; */
}
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* https://css-tricks.com/snippets/css/fluid-typography/ */
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
body {
    font-size: 14px;
}
@media screen and (min-width: 320px) {
    body {
        font-size: calc(14px + (22px - 14px) * ((100vw - 320px) / (1920 - 320)));
    }
}
@media screen and (min-width: 1920px) {
    body {
        font-size: 22px;
    }
}


:root {
    /* --min-font-size: 14px;
    --max-font-size: 22px; */
    --white-col: #fffedd;
    --reading-text-col: lightgrey;
    --alt-tone-col: red;
    --reading-text-font: RobotoMono, monospace;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.25);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.5);
}


/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number] {
    background-color: rgba(0,0,0,0.2);
    color: var(--reading-text-col);
    text-align: right;
    font-family: var(--reading-text-font);
    border-radius: 4px;
    border: 1px var(--reading-text-col) solid;
}



#foreground_canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
}

#background_canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

.animated_transition {
    pointer-events: none;
}



.page_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#page_transition {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
    pointer-events: none;
}

.pixel_borders {
    border-radius: 27px;
    border-width: 24px;
    border-style: solid;
    border-image-source: url('../img/sprites/border_image.png');
    border-image-slice: 7; /* Each corner is 7x7 pixels */
    border-image-repeat: stretch; /* Makes sure edges stretch */
    border-image-outset: 1px;
    image-rendering: pixelated;
    box-shadow: -10px 10px 0px 0px rgba(25,25,26,0.5);
    box-sizing: border-box;
    background-origin: border-box;
}



.jumping_text {
    animation-name: jumping_text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}
@keyframes jumping_text {
    0% {
        top: 0;
    }
    50% {
        top: -0.25em;
    }
    100% {
        top: 0;
    }
}

.scaling_text {
    animation-name: scaling_text;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes scaling_text {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.rainbow_text {
    animation-name: rainbow_text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}
@keyframes rainbow_text {
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}



.text_link_highlight {
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.text_link_highlight:after {
    content: '';
    text-decoration: none;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: var(--white-col);
    transform-origin: center;
    transition: transform 0.25s ease-out;
    height: 0.1em;
    margin-bottom: 0.1em;
}
.text_link_highlight:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}
.text_link_highlight:link,
.text_link_highlight:active,
.text_link_highlight:visited {
    text-decoration: none;
}



.scrolling_container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    place-items: center;
}
.scrolling_container::-webkit-scrollbar {
    display: none;
}

.center_container {
    width: 80vmax;
    max-width: 96vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.reading_text {
    color: var(--reading-text-col);
    font-family: var(--reading-text-font);
    font-weight: 200;
    text-decoration: none;
    text-align: left;
}
